<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% for (var person in people){ %>
            First Name: <%= people[person].f_name %><br>
            Last Name: <%= people[person].l_name %><br>
            <hr>
        <% } %>
    </body>
</html>
